@import '../../styles/variables.scss';

.my-head--menu{
    background: white;
    color: $primary_color_text;
    width: 60%;
    margin: 0 auto;
    font-size: .7em;
}

.my-head--menu ul li{
    list-style: none;
    a {
        display: inline-block;
        width: 100%;
    }
}

.my-head--menu ul li:hover{
    a {
        color: $primary_color_hover_text;
    }
}

.my-head--menu ul li{
    &.active{
        background: white;
        a {
            color: $primary_color_hover_text;
        }
    }
}

.my-head--menu ul li a {
    text-decoration: none;
    color: $primary_color_text;
}

.my-head--menu ul {
    display: flex;
    margin: 0;
    justify-content: space-around;
    padding: 0;
    li {
        margin: 10px;
        padding: 10px;
    }
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
