@import '../../styles/variables.scss';

.pagination{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    &-item{
        cursor: pointer;
        padding: 5px 15px;
        border: 1px solid $primary_color_text;
        border-right: 0px;
        &:hover{
            color: white;
            background: $primary_color_hover_text;
        }
        &:last-of-type{
            border-right: 1px solid $primary_color_text;
        }
        &.active{
            color: white;
            background: $primary_color_hover_text;
        }
    }
}