.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @media screen and (max-width: 450px){
        flex-wrap: nowrap;
    }
}